/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

    .column {
        margin-top: 10px;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: red;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.carousel-bottom-spacing {    
    margin-bottom: 50px;
}


/* Global */
.content-heading {
    margin-top: 50px;
}

.package-inquire-now-button {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* This enables to display slider full width on the page */

.content_container {
    max-width: 100%;    
}


/* Home page images */
.welcome-message {
    margin-bottom: 50px;
}

.package-name {
    margin-bottom: 20px;
}

.remove-col-paddings {
    padding-left: 0px;
    padding-left: 0px;
}

.remove-row-margins {
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Nav override */
.border-bottom {
    border-bottom: 2px solid green !important;
}

.border-top {
    border-top: 2px solid green !important;
}


/* Contact */
#contact-page-header{
    margin-bottom: 50px;
}

#contact-form {
    margin-top: 50px;
}


/* Inquire Now */
#inquirenow-page-header {
    margin-bottom: 20px;
}

/* Package tab panel */

#tablist li a {
    background: #DCDCDC;
    padding: 5px;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    color: #212529 !important;
    border: 1px solid #D0D0D0;
    text-align: center;
    text-decoration: none;
}

    #tablist li a:active {
        background: red;
        color: blue;
    }

    #tablist li a:hover {
        background: #808080;
        color: white;
    }

@@media only screen and (max-width: 479px) {
    .nav-tabs > li {
        width: 100%;
        margin-top: 12px;
    }

        .nav-tabs > li a.wide {
            display: block;
        }
}


.tab-container {
    border: 1px solid #D0D0D0;
    margin-top: 3px;
}

.tab-content-padding {
    padding-top: 30px;
    padding-left: 30px;
}

.tab-itinerary-header {
    margin-bottom: 50px;
}

.package-description {
    margin-top: 10px;
}




/* test css*/
nav {
    margin-bottom: 0px;
}









