@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel.cshtml" />



<style>

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        padding: 0px;
        margin: 0px;
    }
</style>

<div class="container">
    <div class="row welcome-message">
        <h1>Get your dream safari holiday!</h1>
    </div>
</div>


<div class="container">
    <div class="row package-name">
        <h3>Maasai Mara Safaris</h3>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3 remove-col-paddings">
            <a asp-controller="PackageMaasaiMara" asp-action="ThreeDaySafari">
                <img src="~/images/home/maasai_mara/lions.jpg" width="360" height="300" />
            </a>
            <a asp-controller="InquireNow" asp-action="Index">
                <input type="button" class="btn btn-success" value="3 Days Safari - INQUIRE NOW" style="margin-top: 5px;" />
            </a>
        </div>
        <div class="col-md-4 mb-3 remove-col-paddings">
            <a asp-controller="PackageMaasaiMara" asp-action="FourDaySafari">
                <img src="~/images/home/maasai_mara/gazelles_zebras.jpg" width="360" height="300" />
            </a>
            <a asp-controller="InquireNow" asp-action="Index">
                <input type="button" class="btn btn-success" value="4 Days Safari - INQUIRE NOW" style="margin-top: 5px;" />
            </a>
        </div>
        <div class="col-md-4 mb-3 remove-col-paddings">
            <a asp-controller="PackageMaasaiMara" asp-action="FiveDaySafari">
                <img src="~/images/home/maasai_mara/leopard.jpg" width="360" height="300" />
            </a>
            <a asp-controller="InquireNow" asp-action="Index">
                <input type="button" class="btn btn-success" value="5 Days Safari - INQUIRE NOW" style="margin-top: 5px;" />
            </a>
        </div>
    </div>
</div>
